.imagen {
  height: 100px;
  width: 100px;

}

.navbar {
  background-color: darkred;

}

.titulo{
  font-style: italic;
  font-size: 70px;
  font-family: "Bell MT";
 color: #e2e2e2;

}
.btn{

  color: black;
  border-color: #e2e2e2;

}
