<ng-container *ngFor="let categoria of categorias">
  <ul *ngIf="name =='';else elseBlock " class="list-group">
    <li class="list-group-item list-group-item-action"
        [class.selected]="categoria === selectedCategoria"
        (click)="onSelect(categoria)">
      <a class="badge" routerLink="/card/{{categoria.id}}">{{categoria.name_categoria}}</a>
    </li>
  </ul>


</ng-container>

<ng-template #elseBlock>
  <ng-container *ngFor="let categoria of categorias">
    <ul *ngIf="categoria.name_categoria == name" class="list-group">
      <li class="list-group-item list-group-item-action"
          [class.selected]="categoria === selectedCategoria"
          (click)="onSelect(categoria)">
        <a class="badge" routerLink="/card/{{categoria.id}}">{{categoria.name_categoria}}</a>
      </li>
    </ul>


  </ng-container>

</ng-template>
